.listaLinks{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.links{
    border-radius: 25px;
    padding: 0.2rem;
    background-color: #8390FA;
    color: white;
    text-decoration: none;
}

.links:hover{
    text-decoration: none;
    background-color: #8391fa8e;
}