body {
    padding: 0;
    margin: 0;
    background-color: #b5bcf793;
}

.section-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}
.texto {
    font-size: 1.2rem;
    text-align: justify;
    padding: 1.1rem;
}
.section-sobre > img {
    width: 50vw;
}


.testeDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
