body{
    padding: 0;
    margin: 0;
}


.produto{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 195, 195);
    border-radius: 25px;
    width: 20%;
}
.nome{
    font-size: 1.2rem;
    text-align: center;
}
.lista{
    list-style-type: none;
    text-align: center;
    padding: 0.2rem;
}
.btnC{
    border: 0px;
    background-color: rgb(196, 195, 195);
}